#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { 
  grid-area: 1 / 1 / 6 / 2; 
  border-right: solid #c1bfb5 ;
  height: 100%;
  padding-right: 100px;
}

.div1 { grid-area: 1 / 1 / 6 / 2; }
.divDatos { grid-area: 1 / 2 / 2 / 6; }
.divClientes { grid-area: 1 / 2 / 2 / 6; }
.datosClientes { grid-area: 2 / 2 / 6 / 6; }
.divLibros { grid-area: 1 / 2 / 2 / 6; }
.datosLibros { grid-area: 2 / 2 / 6 / 6; }
.divPrestamos { grid-area: 1 / 2 / 2 / 6; }
.datosPrestamos { grid-area: 2 / 2 / 6 / 6; }


html , body {
  background-color: #170312;
  color: #a0acad;
}


.button {
  background-color: #531253;
  border: none;
  color: #97d8b2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
